@import './colours.scss';

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    border-bottom: 1px solid $gray;;
}

.main {
    background: $secondary;
    color: white;
}

.footer {
    background: $gray;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
}

.header {
   position: relative;
   height: 430px;
   border-bottom: 8px solid $gray;

   &::before {
      content: '';
      position: absolute;
      left: 0; 
      right: 0; 
      top: 0;
      bottom: 0;
      z-index: -1;
      background: url('../../common/images/header-background.jpg') no-repeat;
      filter: blur(2px) brightness(30%);
   }

   &__row {
      display: flex;
      justify-content: space-between;
      padding-top: 20px;
      margin: 0 50px 80px 60px;
   }
}

.ant-scrolling-effect{
    & > #root {
        filter: blur(2px) brightness(30%); 
    }

    .logo {
        filter: none;
    }
}

.ant-layout-header {
    background: none;
}