@import '../../common/styles/colours.scss';

.sorting {
  display: flex;
  text-transform: uppercase;
  align-items: center;
  letter-spacing: 1.8px;

  &__title {
    margin-right: 25px;
  }

  &__select {
    background: unset;
    outline: none;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 1.8px;
    height: 100%;

    option {
      background: $grey-dark;
      cursor: pointer;
    }
  }
}
