@import '../../common/styles/colours';

.results-count {
  display: flex;
  font-size: 18px;
  flex-wrap: wrap;
  margin-bottom: 18px;

  &__main {
    font-weight: bold;
    margin-right: 5px;
  }
}
