@import './colours.scss';
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    border-bottom: 1px solid $gray;;
}

.main {
    background: $secondary;
    color: white;
}

.footer {
    background: $gray;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
}