@import './colours.scss';

.form {
  &__row {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column-reverse;
  }

  &__label {
    display: flex;
    flex-direction: column;
    color: $primary;
  }

  &__error {
    color: $primary;
    font-size: 11px;
    padding-top: 4px;

    & ~ .form__label {
      .form__input,
      .ant-picker,
      .ant-select-selector {
        border: 1px solid $primary;
      }
    }
  }

  &__input {
    color: $white;
    outline: none;
    border: none;
    border-radius: 4px;
    background: $grey-dark;
    padding: 8px 0 8px 15px;
    margin-top: 8px;

    &::placeholder {
      color: $white;
      opacity: 0.3;
    }
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
  }

  &__button {
    margin-right: 15px;
  }

  .ant-picker {
    background: $grey-dark;
    border: none;
    margin-top: 8px;
    padding: 8px 0 8px 15px;

    input {
      color: $white;
    }
  }

  .ant-picker-suffix {
    color: $primary;
    margin-right: 10px;
  }

  .ant-select-multiple {
    .ant-select-selector {
      background-color: $grey-dark;
      height: 38px;
      color: $white;
      border: none;
      cursor: pointer;
    }

    .ant-select-selection-item {
      background: none;
      border: none;
    }

    .ant-select-arrow {
      display: block;
      height: 0;
      width: 0;
      top: 55%;
      border: 5px solid transparent;
      border-top: 5px solid $primary;
      transition: all 0.5s ease-out;
      cursor: pointer;

      .anticon {
        display: none;
      }
    }
  }
}

.multiple-select-dropdown {
  .ant-select-item {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      width: 12px;
      height: 12px;
      background: $white;
      top: 11px;
    }
  }

  .ant-select-item-option-content {
    order: 1;
    padding-left: 23px;
  }

  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    padding-left: 0;
    &:before {
      display: none;
    }

    .ant-select-item-option-content {
      padding-left: 0;
    }
  }
}

.ant-select-dropdown.multiple-select-dropdown {
  background-color: $secondary;

  .ant-select-item {
    color: $white;
  }

  .ant-select-item-option-active:not(.ant-select-item-option-disabled),
  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    background: none;
    color: white;
    font-weight: unset;

    .anticon {
      background: $primary;
      color: $white;
      font-size: 13px;
      margin: 0 11px;
    }
  }

  .ant-select-selector {
    .ant-checkbox,
    .ant-select-selection-item-remove {
      display: none;
    }
  }

  .ant-select-show-search.ant-select-multiple .ant-select-selector {
    cursor: pointer;
  }
}
