.ant-btn {
  text-transform: uppercase;
}

.ant-select-selector {
  .ant-checkbox,
  .ant-select-selection-item-remove {
    display: none;
  }
}

.ant-select-show-search.ant-select-multiple .ant-select-selector {
  cursor: pointer;
}

.ant-select-multiple {
  .ant-select-selector {
    background-color: $grey-dark;
    height: 40px;
    letter-spacing: 1.4px;
    color: $white;
    border: none;
  }

  .ant-select-selection-item {
    background: none;
    border: none;
  }
}

.multiple-select-dropdown {
  .ant-select-item {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      width: 12px;
      height: 12px;
      background: $white;
      top: 11px;
    }
  }

  .ant-select-item-option-content {
    order: 1;
    padding-left: 23px;
  }

  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    padding-left: 0;
    &:before {
      display: none;
    }

    .ant-select-item-option-content {
      padding-left: 0;
    }
  }
}

.ant-select-dropdown {
  background-color: $secondary;
}

.ant-select-item {
  color: $white;
}

.ant-select-item-option-active:not(.ant-select-item-option-disabled),
.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background: none;
  color: white;
  font-weight: unset;

  .anticon {
    background: $primary;
    color: $white;
    font-size: 13px;
    margin: 0 11px;
  }
}

.ant-picker input {
  color: $white;
  height: 40px;

  &::placeholder {
    color: $white;
    opacity: 0.4;
    letter-spacing: 1.4px;
  }
}

.ant-form-item {
  margin-bottom: 15px;
}

.ant-input,
.ant-picker,
.ant-select-multiple {
  background-color: $grey-dark;
  height: 40px;
  letter-spacing: 1.4px;
  color: $white;
  width: 100%;
  border: none;

  &::placeholder {
    color: $white;
    opacity: 0.4;
  }
}

.ant-form-item-label > label {
  color: $primary;
  text-transform: uppercase;
  font-size: 12px;
}

.ant-picker-suffix {
  color: $primary;
  font-size: 16px;
}

.ant-select-single .ant-select-selector .ant-select-selection-item {
  line-height: unset;
}

.add-movie-button {
  background-color: $grey;
  opacity: 0.7;
  color: $primary;
  text-transform: uppercase;
  font-size: 18px;
  height: 100%;
  border: none;
}
