@import './colours.scss';

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.main {
  background: $secondary;
  color: white;
  padding-bottom: 1px;
}

.footer {
  background: $grey-dark;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
}

.movies-manager-bar {
  display: flex;
  justify-content: space-between;
}

.top-section {
  position: relative;
  height: 460px;
  border-bottom: 8px solid $grey;
  color: $white;

  &__row {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin-bottom: 25px;
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background: url('../../common/images/header-background.jpg') no-repeat;
    filter: blur(2px) brightness(30%);
  }
}

.ant-scrolling-effect {
  & > #root {
    filter: blur(2px) brightness(30%);
  }

  .logo {
    filter: none;
  }
}

.ant-layout-header {
  background: none;
}
