@import '../../common/styles/colours';

.movie-list {
    &__item {
        display: flex;
        flex-direction: column;
        cursor: pointer
    }

    &__image {
        max-height: 450px;
        margin-bottom: 15px;
    }

    &__details {
        display: flex;
        justify-content: space-between;
        opacity: .6;
    }

    &__title {
        font-size: 16px;
    }

    &__genre {
        opacity: .6;
    }

    &__release-date {
        padding: 3px 10px;
        border: 1px solid $gray;
        border-radius: 2px;
    }
}

.context-menu {
    color: $white;
    background-color: $gray-dark;
    width: 150px;
    display: flex;
    flex-direction: column;

    &__item {
        padding: 3px 15px;
        cursor: pointer;
        margin-bottom: 5px;

        &:hover {
            background: $primary;
        }
    }

    span {
        align-self: flex-end;
        padding: 5px 5px 0 0;
        font-size: 10px;
    }
}
